<?xml version="1.0"?>

<launch>
	<arg name="config" default="$(find ros_ads_node)/config/configuration.yaml" />

	<node pkg="ros_ads_node" type="ros_ads_node" name="ros_ads_node" output="screen">
	    <param name="name" type="str" value="test_device"/>
	    <param name="config_file" type="str" value="$(arg config)"/>
	</node>
</launch>
